* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat center center;
  background-size: cover;
  display: flex;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  min-height: 100vh;
  min-width: 60rem;
  justify-content: center;
  color: white;
}

.container {
  display: grid;
  height: 90vh;
  min-width: 60rem;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 100px auto auto 100px;
  background-color: hsl(255, 10%, 10%, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* z-index: -1; */
  gap: 10px;
  opacity: 0;
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.card-location {
  grid-column: 1 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  maxheight: 80%;
}

.city {
  font-size: 4rem;
  animation: fadeIn 3s;
}

.temperature {
  font-size: 12rem;
  transform: translateX(0.2em);
  animation: fadeIn 3s;
}

.current-status {
  font-size: 2rem;
  animation: fadeIn 3s;
}

.current-high-low {
  font-size: 2rem;
  animation: fadeIn 3s;
}

.date-time {
  font-size: 2rem;
  animation: fadeIn 3s;
}

.card-find {
  position: relative;
  grid-column: 1 / 5;
}

input:focus {
  outline: none;
  background: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

.city-find {
  background: none;
  border: none;
  border-bottom: 1px #ccc solid;
  margin: 10px;
  color: rgba(240, 240, 240, 0.7);
  font: 1em "Open sans";
  z-index: 1000 !important;
}

.submit {
  background: none;
  border: 1px #ccc solid;
  padding: 5px;
  color: rgba(240, 240, 240, 0.7);
}

.card-time {
  grid-column: 1 / 5;
  border-radius: 10px;
  background-color: rgba(10, 20, 80, 0.2);
}

.arrow-left {
  height: 30px;
  transform: translateX();
}

.arrow-right {
  height: 30px;
}

.time-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit(min(150px, 100%), 1fr));
  grid-auto-columns: 1fr;
  min-height: 100%;
  max-width: 80%;

  font-size: 0.8em;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
  justify-content: space-between;
}
::-webkit-scrollbar {
  background: none;
}
.time-container:hover::-webkit-scrollbar-thumb {
  background: rgba(10, 20, 80, 0.2);
  border-radius: 6rem;
}

.slide {
  position: relative;
  width: 30%;
  /* border: 1px solid; */
  white-space: nowrap;
  padding: 5px;
  height: 70%;
  min-width: 5em;
  animation: fadeIn 3s;
}

.slide > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 40%;
  animation: fadeIn 3s;
}

.card-day {
  border-radius: 10px;
  background-color: rgba(10, 20, 80, 0.2);
}

.card-weather-status {
  border-radius: 10px;
  background-color: rgba(10, 20, 80, 0.2);
}

.card-temps-high {
  border-radius: 10px;
  background-color: rgba(10, 20, 80, 0.2);
}

.card-temps-low {
  border-radius: 10px;
  background-color: rgba(10, 20, 80, 0.2);
}

.card-footer {
  grid-column: 1 / 5;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 80%;
  animation: fadeIn 3s;
  list-style: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}
